<nav class="navbar navbar-expand-lg navbar-light bg-success">

  <div class="container-fluid">

    <img src="./assets/logo-lareussite.png" width="100px"/>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<span ><h2 align="center"></h2></span>

