<div class="container">
  <h2 align="center"Tableau >Users simple</h2>
  <table class="table align=center">
    <thead>
     
      <tr align="center">
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">email</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Profil</th>
        <th scope="col">Date inscription</th>
      </tr>
    </thead>
    <tbody>
  
      <tr align="center">
        <th scope="row">Cheikh Ibrahima</th>
        <td>Ndiaye</td>
        <td>Cheikh.ndiaye@gmail.com</td>
        <td>7777777777</td>
        <td> </td>
        <td> </td>
      </tr>
  
  
  
    </tbody>
  </table>
  </div>
  
  
