<!-- <app-header></app-header> -->

<div class="container">
  <h2 align="center"Tableau >Utilisateurs Actifs</h2>
<table class="table align=center">
  <thead>
    <tr align="center">
      <th scope="col">id</th>
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">telephone</th>
      <th scope="col">Profil</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of Books; let i = index">
      <th scope="row">{{ book._id }}</th>
      <td>{{ book.firstName }}</td>
      <td>{{ book.lastName }}</td>
      <td>{{ book.email }}</td>
      <td>{{ book.tel }}</td>
      <td>{{ book.profil }}</td>
      <td class="text-center">
        <a routerLink="/cpt6/{{ book._id }}" class="link-danger btn btn-sm btn-primary">Update</a>
        <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

