<app-header></app-header>
<div class="container tab">
  <div class="search-hero" align="right">
   <input class="form-controlMe"  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche par mot clé">
 </div>
   <table class="table">
       <thead class="bg-success">

<div class="container">
  <h2 align="center"Tableau >Utilisateurs Actifs</h2>
<table class="table align=center">

  <tbody>
    <tr align="center">
      <th scope="col">Prenom</th>
      <th scope="col">Nom</th>
      <th scope="col">email</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Matricule</th>
      <th scope="col">Profil</th>
      <th scope="col">Action</th>
    </tr>
    <tr *ngFor="let book of list | filter:searchText | paginate: { itemsPerPage: 5, currentPage: pages }">
      <th scope="row">{{ book.prenom }}</th>
      <td>{{ book.nom }}</td>
      <td>{{ book.email }}</td>
      <td>{{ book.tel }}</td>
      <td>{{ book.matricule }}</td>
      <td>{{ book.profil }}</td>
      <td>{{ book.action }}</td>
      <td class="text-center">
        <a routerLink="/cpt6/{{ book._id }}" class="link-danger btn btn-sm btn-primary">Update</a>
        <!-- <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Delete</button> -->
      </td>
    </tr>
  </tbody>
</table>

<!-- ************************************pagination ****************************************************** -->
<div class="pagination">
  <pagination-controls  (pageChange)="pages = $event"></pagination-controls>
</div>
</div>
<!-- ************************************pagination ****************************************************** -->
